#four,
#five,
#six,
#seven,
#eight,
#nine,
#ten,
#eleven,
#twelve {
  width: 100%;
  margin-top: 30px;
}
.faq-heading{
    border-bottom: #777;
    padding: 20px 60px;
    text-align: center;
}
.faq-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}

.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-size: 16px;
}
.faq-body{
    margin: auto;
   
   width: 50%; 
   padding: auto;
   
}
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

.faq-body {
    /* padding: 0 18px; */
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: "\2193";
    
    font-size: 16px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2191";
    
}
.testim .wrap{
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}
.testim .arrow{
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;}
    .testim .arrow:before{
        cursor: pointer;
    }
    .testim .arrow.left{
        left: 10px;
    }
    .testim .arrow.right{
        right: 10px;
    }
    .testim .arrow:hover{
        color:grey
        ;
    }
    .testim .dots{
        text-align: center;
        position: absolute;
        width: 100%;
        bottom: 60px;
        left: 0;
        display: block;
        z-index: 3333;
        height: 12px;
    }
    .testim .dots .dot{
        list-style-type: none;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #eee;
        margin: 0 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        position: relative;
    }
    .testim .dots .dot.active,
.testim .dots .dot:hover{
background: grey;
border-color: grey;

}

.testim .dots .dot.active{
    animation: testim-scale .5s ease-in-out forwards;
    color: transparent;
}
.testim .cont{
    position: relative;
    overflow: hidden;
}
.testim .cont > div{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}
.testim .cont > div.inactive{
    opacity: 1;
}
.testim .cont > div.active{
    
    position: relative;
    opacity: 1;
    
}
.testim .cont div .img img{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}
.testim .cont div h2{
    color:black;
    font-size: 1em;
    margin: 15px 0;
}
.testim .cont div p{
    font-size: 1.15em;
   
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img{
    animation: testim-show .5s ease-in-out forwards;
}
.testim .cont div.active h2{
    animation: testim-content-in .4s ease-in-out forwards;
}
.testim .cont div.active p {
    animation: testim-content-in .5s ease-in-out forwards;
}
.testim .cont div.inactive .img img{
    animation: testim-hide .5s ease-in-out forwards;
}
.testim .cont div.inactive h2{
    animation: testim-content-out .4s ease-in-out forwards;
}
.testim .cont div.inactive p {
    animation: testim-content-out .5s ease-in-out forwards;
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }
    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }
    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}
@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

/* Responsive */

@media all and (max-width: 300px) {
    body {
        font-size: 14px;
    }
}
@media all and (max-width: 500px) {
    .testim .arrow{
        font-size: 1.5rem;
    }
    .testim .cont div p{
        line-height: 25px;
    }
}

