#one {
    width: 100%;
    height: 70%;
    margin-bottom: 60px;
  }
  #two {
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  #h1 {
    font-family: poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    margin-left: 110px;
    color: #3b3b3b;
  }
  #three {
    width: 100%;
    margin-bottom: 40px;
  }
  #four,
  #five,
  #six,
  #seven,
  #eight,
  #nine,
  #ten,
  #eleven,
  #twelve {
    width: 100%;
  }
  