*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#r_navbar{
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: space-around;
    border: 0.1px solid rgb(241, 234, 234);
}
#r_navbar >a{
    width: 8%;
}
#r_navbar >a > img {
    width: 100%;
}
#r_head_left {
    display: flex;
    width: 56%;
    height: 42%;
    align-items: center;
    justify-content: space-between;
}

#r_head_left > a {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    align-items: center;
    color: black;
}
#r_head_left > a:hover {
    color: rgb(255,111,97);
}
#r_head_right {
    display: flex;
    width: 25%;
    height: 80%;
    align-items: center;
    justify-content: space-between;

}
#r_head_right  img {
    width: 2%;

}
#r_head_right > a {
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
}
.r_save{
    display: flex;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 4px;
    color: white;
    background-color: rgb(255,111,97);
    align-items: center;
}

#r_cart_logo {
    width: 7%;
}
#r_cart_logo > img {
    width: 100%;
}
#r_log_sign {
    display: flex;
    width: 27.6%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
#r_log_sign > a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: gray;
}
#r_log_sign > div {
    width: 1px;
    height: 40%;
    border: 1px solid gray;
}

#r_midbar {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  border: 1px solid rgb(231, 231, 231);
  justify-content: space-around;
}
#r_locate {
  display: flex;
  width: 30%;
  height: 77%;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f4f6;
  padding: 0 10px;
}
#r_locate > img {
  width: 8%;
  opacity: 0.6;
}
#r_locate > select {
  width: 70%;
  height: 90%;
  border: none;
  background-color: #f1f4f6;
  cursor: pointer;
}
#lc {
  opacity: 0.7;
}
#r_search {
  display: flex;
  width: 69%;
  height: 77%;
  align-items: center;
  justify-content: space-around;
  background-color: #f1f4f6;
}
#query {
  width: 93%;
  height: 80%;
  background: transparent;
  font-size: 16px;
  padding: 0 10px;
  border: none;
}
input:focus {
  outline: none;
}
#r_left {
  display: flex;
  width: 58%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
#r_right {
  display: flex;
  width: 31%;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: rgb(119, 118, 118);
}
#r_right > button {
  padding: 7px 25px;
  background-color: #fa695c;
  color: white;
  font-size: 17px;
  border: 1px solid#ff6f61;
  border-radius: 5px;
}
#r_magnify {
  cursor: pointer;
}
#r_drop {
  display: grid;
  width: 66%;
  height: 200px;
  overflow-y: scroll;
  margin: auto;
  margin-top: 1px;
  border-radius: 10px;


  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#r_drop::-webkit-scrollbar {
  display: none;
}
#r_drop > div {
  display: flex;
  height: 30px;
  padding: 20px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid #f1f4f6;
  padding-left: 30px;
  cursor: pointer;
}
#r_res {
  position: fixed;
  top: 100px;
  right: 400px;
  left: 140px;
  background-color: rgb(255,255,255);
  
}
#r_drop_part {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 10px;
  padding:  20px;
}
.drop {
  color: #575555;
  position: relative;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.indrop {
  background-color: white;
  text-align: left;
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 0 0 3px 3px;
  min-width: 250px;
  white-space: nowrap;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  border-top: none;
}
.indrop ul {
  margin-top: 10px;
  font-size: 12px;
  margin: none;
  font-weight: bold;
  float: none;
}
.indrop ul a:hover {
  color: #ff6f61;
}
.indrop ul:first-child {
  margin-top: 20px;
}
.indrop ul a {
  list-style: none;
  text-decoration: none;
  color: #8a8888;
}
.drop:hover {
  color: #ff6f61;
}
.drop:hover .indrop {
  display: block;
}
.drop i {
  width: 3px;
  margin-left: 10px;
}